@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
  font-family: "Sora", sans-serif;
}


#bottone1 {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #fff;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  color: #0a1c2c;
  transition: 0.4s;
}

#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #fff;
}

#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #fff;
}

/* From Uiverse.io by TCdesign-dev */
#bottonet {
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 9px;
  background: #fff;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  color: #0a1c2c;
  transition: 0.4s;
}

#bottonet:hover {
  box-shadow: 5px 3px 54px -12px #fff;
}

#bottonet:active {
  transform: scale(0.97);
  box-shadow: 5px 3px 54px -12px #fff;
}

#bottoneb {
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 9px;
  background: #110e28;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  color: #fff;
  transition: 0.4s;
}

#bottoneb:hover {
  box-shadow: 5px 3px 54px -12px #110e28;
}

#bottoneb:active {
  transform: scale(0.97);
  box-shadow: 5px 3px 54px -12px #110e28;
}

.process-style-one-item h2 {
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  font-weight: 900;
  writing-mode: vertical-rl;
  font-size: 60px;
  line-height: 0.7;
  transform: rotateZ(180deg);
  min-height: 85px;
  margin-bottom: 30px;
}